<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link Masker</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="container">
    <h1>Link Masker</h1>
    <form>
      <div class="form-group">
        <label for="link">Link:</label>
        <input type="url" id="link" required autocomplete="off">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>